* {
  margin: 0;
  font-family: "Poppins";
  text-decoration: none;
  border: 0;
  outline: none;
  background: transparent;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden !important;
  background-color: #fff !important;
  font-family: Poppins, sans-serif;
}

.header ul {
  list-style: none;
}

/*header*/
.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  transition: 0.6s;
}

.header .brand img {
  height: 90px;
}

.header .down {
  background: #0000;
  padding: 15px 80px;
}

.header .brand {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.header .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.header .menu ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .menu ul li {
  list-style: none;
}

.header .menu a {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 7px 12px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
}

.header .menu a:hover {
  width: 80%;
  background-color: #dcebcb;
  color: #004a73;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0.1rem;
  border-bottom-left-radius: 1rem;

  cursor: pointer;
}
.header .menu .reservaboton {
  background: #004a73;
  color: #000;
}
.header .menu .reservaboton:hover {
  color: #fff;
  background: #004a73;
}

.header .btn {
  color: black;
  font-size: 25px;
  cursor: pointer;
  display: none;
  width: 90px;
}
.header .btn:hover {
  color: #004a73;
}
.bg-scroll-down {
  width: 104%;
  height: 106px;
}

.bg-scroll-down{
  background-color: rgb(0, 99, 143, 0.8);
  width: 104%;
height: 106px;

}


.header .lang {
	position: relative;
	padding: 10px 0;
}

.header .lang .button {
	color: #ffffff;
	padding: 0 10px;
	font-weight: 400;
}

.header .lang .button .flag {
	width: 20px;
	margin-right: 10px;
}



.header .lang .button svg {
	width: 12px;
	margin-left: 5px;
}

.header .lang:hover .button {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: inset rgba(255, 255, 255, 0.1) 0 0 0 2px;
}

.header .lang .dropdown {
	position: absolute;
	min-width: calc(100% - 20px - 16px);
	padding: 10px;
	top: 50px;
	right: 0;
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	transition: var(--transition);
	opacity: 0;
	visibility: hidden;
	margin-top: -10px;
}

.header .lang .dropdown a {
	line-height: 30px;
	padding: 0 10px;
	color: #444;
	border-radius: 5px;
	text-align: center;
	transition: var(--transition);
	font-weight: 500;
}

.header .lang .dropdown a:hover {
	background: #eee;
}

.header .lang:hover .dropdown {
	opacity: 1;
	visibility: visible;
	margin: 0;
}

@media (max-width: 986px) {
  .header,
  .header .down {
    padding: 20px 40px;
  }

  .header .btn {
    display: block;
  }

  .header .menu {
    position: fixed;
    background: rgb(0, 99, 143, 0.8);
    min-width: 330px;
    height: 100vh;
    top: 0;
    right: -156%;

    transition: 0.5s;
    transition-property: right;
  }

  .header .menu ul {
    flex-direction: column;
  }

  .header .menu.active {
    right: 0;
  }

  .header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  .header .menu a {
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
  }
}

.welcome {
  height: 70vh;
  z-index: 40;

  display: cover;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.welcome video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: fill;
  opacity: 1;
}

.welcome canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: fill;
  opacity: 1;
}

.welcome .logocontenido1 {
  height: 90px;
}

.imgbackground1 h1 {
  font-size: 25px;
  color: white;
}
.imgbackground1 {
  position: relative;
  background-image: url("./img/1_ok.jpg");

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgbackground2 {
  position: relative;
  background-color: #fff;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 60vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgbackground2 .columna2 {
  border-left-color: rgb(0, 87, 120);
  border-left-style: solid;
  border-left-width: 2px; /* Cambiando este valor, puedes cambiar el ancho del borde */
  padding-right: 12px;
}

.imgbackground3 {
  position: relative;
  background-color: #fff;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 60vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgbackground3 .columna3 {
  border-right-color: rgb(0, 87, 120);
  border-right-style: solid;
  border-right-width: 2px; /* Cambiando este valor, puedes cambiar el ancho del borde */
  padding-left: 12px;
}

.imgbackground {
  position: relative;
  background-image: url("./img/2_ok.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 25% 75%;
  background-repeat: no-repeat;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgbackground4 {
  position: relative;
  background-image: url("./img/2_ok.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 25% 75%;
  background-repeat: no-repeat;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgbackground5 {
  position: relative;
  background-color: #fff;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 60vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgbackground5 .columna5 {
  border-left-color: rgb(0, 87, 120);
  border-left-style: solid;
  border-left-width: 2px; /* Cambiando este valor, puedes cambiar el ancho del borde */
  padding-right: 12px;
}

.imgbackground6 {
  position: relative;
  background-color: #fff;
  background-image: url(./img/3_ok.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 60vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgbackground7 {
  position: relative;
  background-color: #fff;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 60vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgbackground7 .simbolo7 {
  z-index: 0;
  width: 400px;
  height: 400px;
  display: flex;
  position: relative;
 
  right: -335px;
}

.imgbackground8 {
  position: relative;
  background-color: #fff;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 60vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgbackground8 .simbolo8 {
  z-index: 0;
  width: 400px;
  height: 400px;
  display: flex;
  position: relative;
 
  right: 335px;
}

@media (max-width: 1000px) {
  .imgbackground{
    background-position: 80% 93%;
  }
  .imgbackground4{
    background-position: 80% 93%;
  }
  .imgbackground3 {
    height: 100%;
  }
  .imgbackground2 {
    height: 100%;
  }
  .imgbackground5 {
    height: 100%;
  }
  .imgbackground7{
    height: 100%;
  }
  .imgbackground6{
    background-position: 80% 93%;
  }
  .imgbackground8{
    height: 100%;
  }
  .imgbackground9{
    background-position: 25% 93%;
  }
  .imgbackground7 .simbolo7 {
    z-index: 0;
    width: 400px;
    height: 400px;
    display: flex;
    position: relative;
   opacity: 0.7;
    right: 0px;
  }
  .imgbackground8 .simbolo8 {
    z-index: 0;
    width: 400px;
    height: 400px;
    display: flex;
    position: relative;
   opacity: 0.7;
    right: 0px;
  }
}

.imgbackground9 {
  position: relative;
  background-image: url(./img/4_ok.jpg);
background-attachment: fixed;
  background-size: cover;
 
  background-repeat: no-repeat;
  height: 60vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


@media (max-width: 769px){

  .imgbackground7 .simbolo7 {
    z-index: 0;
    width: 400px;
    height: 400px;
    display: flex;
    position: relative;
   opacity: 0.7;
    right: 0px;
  }
  .imgbackground8 .simbolo8 {
    z-index: 0;
    width: 400px;
    height: 400px;
    display: flex;
    position: relative;
   opacity: 0.7;
    right: 0px;
  }

  .imgbackground7{
    height: 70vh;
  }
  .imgbackground8{
    height: 70vh;
  }
}

.copyright {
  background: rgb(0, 87, 120);
  color: #ffffff;
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
}